** {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    
}
body{
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: pink;

    
    
}
div.content{
    background-color: aliceblue;
    margin-top: 20px;
    padding: 40px;
    border-radius: 30px;
    
}
h1{
    
    font-size: 50px;
}
h2{
    text-align: center;
}
p{
   
    font-size: 20px;
}
.opcoes{
     background-color: #D4AF37;
     padding: 10px;
     border-radius: 30px;
}
ul{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
li{
    font-size: 20px;
    cursor: pointer;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 10px;
    text-align: left;
    list-style-type: none;
    margin-right: 40px;
}
